@import shared

.notice
  background: $light-color
  border-bottom: 1px solid #ddd
  color: #999
  display: none
  padding: 4px
  position: absolute
  position: fixed
  text-align: center
  width: 100%

.brand
  @media (max-width:780px)
    font-size: 25px
    margin-bottom: 20px
  color: lighten($main-color, 10%)
  font-family: $brand-font
  font-size: 30px
  margin-bottom: 14px
  margin-top: 22px

.tagline
  @include regular-font
  color: #aaa
  margin: 0 0 10px 2px

.profile
  height: 150px
  width: 150px
  margin-bottom: 14px
  border-radius: 50%
  @media(max-width:780px)
    height: 100px
    width: 100px

.projects
  padding-bottom: 15pt

.project
  margin: 5px
  float: left

.caption
  display: block
  text-align: center
  font-size: 12px
  line-height: 20px

form
  @include regular-font
  color: #777
  margin-top: -20px
  li
    padding: 5px 10px
  fieldset
    border: none
  label span, input[type=text]
    height: 30px
    line-height: 30px
  label span
    display: block
    float: left
    width: 10%
  input, textarea
    background: $light-color
    border: 1px solid #ccc
    float: right
    width: 100%
  input[type=text]
    padding: 0 5px
    width: 90%
  input[type=submit]
    color: #888
    padding: 10px
  textarea
    padding: 5px

.page
  border-left: 1px solid #ddd
  border-right: 1px solid #ddd
  border-bottom: 1px solid #ddd
  background: #fff
  color: #555
  padding: 22px 30px 30px
  ul
    margin: -40px 0 0 5px
  h2
    color: lighten($main-color, 10%)
    font-family: $brand-font
    font-size: 24px
    margin: 0 10px 10px 10px
  p
    margin: 20px 10px 40px 10px
