<!DOCTYPE html>
<html>
  <head>
    <title>Nick Barth - Business strategists and software engineer</title>
    <meta content='width=device-width, minimum-scale=0.5, maximum-scale=0.5' name='viewport' />
    <link href='/favicon.ico' rel='icon' type='image/x-icon' />
    <link href='/assets/stylesheets/application.css' rel='stylesheet' type='text/css' />
    <meta name="google-site-verification" content="Rv8gA5xfR8Hu0qR-5HxPy-Ls-SGA-hsRlnwq78aOIMo" />
  </head>
  <body>
    <div class='notice'>
      Your message has been delivered.
    </div>
    <div class='main'>
      <div class='container'>
        <div class='lcolumn'>
          <div class='brand'>
            Nick Barth
          </div>
          <div class='tagline'>
            Software engineer and technical consultant
          </div>
          <img class='profile' src='/images/nick.jpg' />
          <p class='text'>
            <ul class='inline'>
              <li><a data-tooltip='Github' href='http://github.com/nickbarth' target='_blank'><i class='icon-github icon-large'></i></a></li>
              <li><a data-tooltip='Twitter' href='http://twitter.com/nickbarth' target='_blank'><i class='icon-twitter icon-large'></i></a></li>
              <li><a data-tooltip='Linkedin' href='http://linkedin.com/in/barthn/' target='_blank'><i class='icon-linkedin icon-large'></i></a></li>
              <li><a data-tooltip='Email' href='mailto:nick@nick.so' target='_blank'><i class='icon-envelope-alt icon-large'></i></a></li>
              <!-- = social_tag "book", "/blog" -->
            </ul>
          </p>
        </div>
        <div class='rcolumn'>
          <div class='page'>
            <a class='lnk-profile' name='profile'></a>
            <h2>Profile</h2>
            <p class='text'>
              I am a passionate software engineer and experienced technical consultant.
              As a senior technical analyst specializing in web based technical solutions
              I've architected scalable cloud server infrastructures, successfully
              executed on technical strategies increasing revenue and readership,
              and designed software solutions targeting a wide range of platforms and
              industries. If you're interested in working together with me feel free to
              <a href='#contact'>contact me</a> and check out some of the
              <a href='#communities'>communities</a> I'm involved in.
            </p>
            <h2>Community</h2>
            <p class='text'>
              Here are some of the communities I am currently involved in.
            </p>
            <a class='lnk-projects' name='communities'></a>
            <ul class='projects'>
              <li class='project'>
                <a class='photo' href='http://startupedmonton.com/' target='_blank'><img src='/images/startupedm.png' /></a>
                <a class='caption' href='http://startupedmonton.com/' target='_blank'>Startup Edmonton</a>
              </li>
              <li class='project'>
                <a class='photo' href='http://www.facebook.com/CinderChats' target='_blank'><img src='/images/cinder.jpg' /></a>
                <a class='caption' href='http://www.facebook.com/CinderChats' target='_blank'>Cinder</a>
              </li>
              <li class='project'>
                <a class='photo' href='http://yegrb.com/' target='_blank'><img src='/images/yegrb.jpg' /></a>
                <a class='caption' href='http://yegrb.com/' target='_blank'>Ruby Meetup</a>
              </li>
              <li class='project'>
                <a class='photo' href='http://www.exchangejs.com/' target='_blank'><img src='/images/exchangejs.jpg' /></a>
                <a class='caption' href='http://www.exchangejs.com/' target='_blank'>Exchange.js</a>
              </li>
              <div class='clear'></div>
            </ul>
            <a class='lnk-contact' name='contact'></a>
            <h2>Contact</h2>
            <p class='text'>
              If you'd like to get in contact with me you can reach me at
              <a href='mailto:nick@nick.so'>nick@nick.so</a>
              and by using the contact form below.
            </p>
            <div class='clear'></div>
            <form action='/contact' class='contact-form' method='post'>
              <fieldset>
                <ol class='lside'>
                  <li>
                    <label>
                      <span>Name</span>
                      <input class='input-name' type='text' />
                    </label>
                  </li>
                  <li>
                    <label>
                      <span>Email</span>
                      <input class='input-email' type='text' />
                    </label>
                  </li>
                </ol>
                <ol class='rside'>
                  <li>
                    <label>
                      <span>Message</span>
                      <textarea class='input-message' type='text'></textarea>
                    </label>
                  </li>
                </ol>
                <div class='clear'></div>
                <ol>
                  <li>
                    <input type='submit' value='Send' />
                  </li>
                </ol>
              </fieldset>
            </form>
            <p class='footer'>
              &copy; <a href='mailto:nick@nick.so'>Nick Barth</a>. All Rights Reserved.
            </p>
            <div class='clear'></div>
          </div>
        </div>
      </div>
    </div>
    <span class='tooltip'></span>
    <script src='//code.jquery.com/jquery-1.8.2.min.js' type='text/javascript'></script>
    <script src='/assets/javascripts/application.js' type='text/javascript'></script>
    <script type='text/javascript'>
      //<![CDATA[
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-26355941-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      //]]>
    </script>
  </body>
</html>
